/* About.module.css */
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .about-content {
    flex: 1;
  }
  
  .about-image {
    flex: 1;
    max-width: 50%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image */
    margin: 0 auto; /* Center the image horizontally */
    padding: 50px;
  }
  